@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">TP3 - Com abordagem .net core</h1>
        <h5><strong>Nome:</strong>Samuel Diogo de Jesus</h5>
        <h5><strong>E-mail:</strong> samuel.jesus@AssemblyLoadEventArgs.infnet.edu.br</h5>
    </div>
