@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Assessment - Desenvolvimento de Aplicações Web ASP .NET MVC e Web API</h1>
        <h3 class="lead">Samuel Diogo de Jesus</h3>
        <p class="text-muted">samuel.jesus@al.infnet.edu.br</p>
    </div>
</div>